<div class="container">
  <h1>Book your hen now!</h1>

  <%= simple_form_for([@hen, @booking]) do |f| %>
    <%= f.input :start_date, as: :date %><br>
    <%= f.input :end_date, as: :date %><br>
    <%= f.submit class: "main-button"%>
  <% end %><br>

  <%= link_to "Back", hen_path(@hen), class: "btn-ghost" %>
</div>
