<div class="pb-5" id="dashboard" >
  <div class="container col-lg-8 com-md-8 col-sm-12 pt-5" >
    <h1 id="title-new-hen"> Welcome back !</h1>
    <br>
    <p>Find below all the informations about your last bookings. </p>
  </div>

  <div class="container">
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637060480/jacqueline_hfxdpw.jpg" />
          <div class="card-product-infos">
            <div class="card-product-title border-bottom">
              <h2><%= booking.hen.name %></h2>
              <p><i class="fas fa-star"></i> <%= booking.hen.rating %></p>
            </div>
            <div class="card-product-title border-bottom">
              <p><strong>Starting Date Ending Date</strong></p>
              <p><%= booking.start_date %> <%= booking.end_date %></p>
            </div>
            <div class="card-product-city border-bottom">
              <p><strong>City</strong></p>
              <p id="location"><%= booking.hen.location %></p>
            </div>
            <div class="card-product-title border-bottom">
              <p><strong>Price/Day</strong></p>
              <p><%= booking.hen.price_per_day %> $</p></div>
            <div class="card-product-title">
              <p><strong>Total</strong></p>
              <p><strong><%= booking.price %> $</strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
