<h1><%= @hen.name %></h1>
<p>Description: <%= @hen.description %></p>
<p>Rating: <%= @hen.rating %></p>
<p>Price/day: <%= @hen.price_per_day %></p>
<p>Breed: <%= @hen.breed %></p>
<p>Eggs/day: <%= @hen.eggs_per_day %></p>
