<h1>Hens#show</h1>
<p><%= @hen.name %></p>
<p><%= @hen.description %></p>
<p><%= @hen.rating %></p>
<p><%= @hen.price_per_day %></p>
<p><%= @hen.breed %></p>
<p><%= @hen.profile_picture %></p>
<p><%= @hen.eggs_per_day %></p>
