<div class="container">
  <h1><%= @hen.name %></h1>
  <div class="d-flex justify-content-start">
    <p><i class="fas fa-egg"></i> <%= @hen.rating %></p>
  </div>
  <%# img need to be changed to cl_img_tag in order to connect to Cloudinary %>
  <div class="frame">
    <img src="<%= @hen.profile_picture %>" alt="<%= @hen.name%>">
  </div>

  <div class="row">
    <div class="card-product">
      <div class="card-product-infos">
        <h2>Description</h2>
        <p><%= @hen.description %></p>
      </div>
      <div class="card-product-infos">
        <h2>Breed</h2>
        <p><%= @hen.breed %></p>
      </div>
      <div class="card-product-infos">
        <h2>Eggs/day</h2>
        <p><%= @hen.eggs_per_day %></p>
      </div>
      <div class="card-product-infos">
        <h2>Price/day</h2>
        <p><%= @hen.price_per_day %>€</p>
      </div>
      <div class="card-product-infos">
        <%= link_to new_hen_booking_path(@hen) do %>
          <button class="main-button" type="button" >Book a hen now!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
